#gameBoard {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template: repeat(3,150px)/repeat(3,150px);
    margin: 50px auto;
    border: 1px black solid;

}

.cell{
    border: 1px black solid;
    text-align: center;
    padding-top: 25px;
    font-size: 90px;
}

.winnerAnnouce {
    display: flex;
    flex-direction: column;
}

#restartBtn {
    margin: auto;
}

.winnerMsg {
    padding-bottom: 10px;
    margin: auto;
    font-size: 30px;
}